<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<h1>Fruits "Show" Page</h1>
	<p>This is a fruit page</p>

	<!-- note the 2 new tags! -->
	The <%=fruit.name;  %> is <%=fruit.color; %>

	<% if(fruit.readyToEat == true){ %>
		It is ready to eat!
 	<% } else { %>
 		it is <font color='red'>ABSOFRUITLY NOT</font>ready to eat.
 	<% } %>

</body>
</html>